@using Microsoft.AspNetCore.Identity
@model FastGooey.Models.FormModels.CreateWorkspace
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Create Workspace";
    Layout = "~/Views/Shared/PublicLayout.cshtml";
    var currentUser = await UserManager.GetUserAsync(User);
}

<div class="w-screen h-screen bg-blueDark font-mont">
    <div class="p-6 flex gap-6 items-baseline">
        <a href="/">
            <h1 class="text-nuclearGreen font-exo text-2xl font-bold italic tracking-tighter text-shadow-md">FastGooey</h1>
        </a>
        <p class="text-white font-mont text-shadow-md font-medium flex-1">@User.Identity.Name</p>
        <a href="/auth/logout" class="text-white font-mont text-shadow-md font-medium">Logout</a>
    </div>
    <div class="max-w-2xl mx-auto pt-24">
        <h1 class="text-white font-exo text-5xl md:text-7xl font-bold italic tracking-tighter text-shadow-md mb-6">
            Create Workspace
        </h1>
        
        @if (currentUser.EmailConfirmed)
        {
            <form asp-action="SaveNewWorkspace" asp-controller="WorkspaceSelector" method="post" hx-boost="true">
                <div class="border border-white shadow-md rounded-xl text-white p-4">
                    <div class="formGroup">
                        <div class="mb-4">
                            <label asp-for="WorkspaceName"></label>
                            <input asp-for="WorkspaceName"
                                   type="text"
                                   class="w-full"
                                   placeholder="Workspace Name"
                            />
                            <span asp-validation-for="WorkspaceName" class="text-red-600 text-sm mt-1 block"></span>
                        </div>
                        <div class="mb-4">
                            <p class="font-mont block text-sm font-medium mb-2">For account:</p>
                            <p class="font-mont block text-sm font-semibold mb-2">@User.Identity.Name</p>
                        </div>
                    </div>
                
                    <button type="submit" class="text-sm font-semibold py-2 px-4 rounded-lg cursor-pointer bg-gradient-to-b from-nuclearGreenLighter to-nuclearGreenDarker border border-white/10 shadow-md">
                        Create workspace
                    </button>
                </div>
            </form>
        }
        else
        {
            <div class="border border-white shadow-md rounded-xl text-white mb-6">
                <div class="rounded-xl shadow p-4">
                    <p class="font-medium mb-1 text-shadow-md">Your email address has not been verified.</p>
                    <p class="text-xs font-medium text-shadow-md mb-6">
                        Your email address must be verified before you can create a workspace. You should have
                        received an email on sign-up, but you can request another one using the button below.
                    </p>
                        
                    <button 
                        hx-post="/Auth/SendEmailValidation"
                        hx-target="#validationRequestResult"
                        type="button" 
                        class="text-white text-sm font-semibold py-2 px-4 rounded-lg cursor-pointer border-3 border-nuclearGreenLighter shadow-md">
                        Request validation
                    </button>
                        
                    <div id="validationRequestResult" class="text-xs font-medium text-shadow-md"></div>
                </div>
            </div>
        }
    </div>
</div>

@* @section Scripts { *@
@*     <partial name="_ValidationScriptsPartial" /> *@
@* } *@