image: mcr.microsoft.com/dotnet/sdk:10.0

pipelines:
  branches:
    master:
      - step:
          name: "Restore and test"
          script:
            - dotnet restore
            - dotnet test FastGooey.Tests/FastGooey.Tests.csproj
      - step:
          name: "Restore and publish"
          script:
            - dotnet restore
            - dotnet publish -c Release --property:PublishDir=./publish
            - dotnet restore FastGooey.sln
            - dotnet publish FastGooey/FastGooey.csproj -c Release -o ./publish
          artifacts:
            - publish/**
      - step:
          name: 'Deploy to production'
          deployment: production
          script:
            - pipe: atlassian/rsync-deploy:0.13.0
              variables:
                USER: 'tidelas'
                SERVER: 'dn03.tidelas.com'
                REMOTE_PATH: '/usr/local/www/fast-gooey'
                LOCAL_PATH: 'publish/*' # Optional.
                DELETE_FLAG: 'false'
