image: mcr.microsoft.com/dotnet/sdk:10.0

definitions:
  caches:
    dotnetcore: ~/.nuget/packages

pipelines:
  branches:
    master:
      - step:
          name: "Restore and test"
          caches:
            - dotnetcore
          script:
            - export DOTNET_CLI_TELEMETRY_OPTOUT=1
            - export NUGET_XMLDOC_MODE=skip
            - dotnet restore FastGooey.sln
            - dotnet test FastGooey.Tests/FastGooey.Tests.csproj --no-restore
      - step:
          name: "Restore and publish"
          caches:
            - dotnetcore
          script:
            - export DOTNET_CLI_TELEMETRY_OPTOUT=1
            - export NUGET_XMLDOC_MODE=skip
            - dotnet restore FastGooey.sln
            - dotnet publish FastGooey/FastGooey.csproj -c Release -o ./publish --no-restore
          artifacts:
            - publish/**
      - step:
          name: 'Deploy to production'
          deployment: production
          script:
            - pipe: atlassian/rsync-deploy:0.13.0
              variables:
                USER: 'tidelas'
                SERVER: 'dn03.tidelas.com'
                REMOTE_PATH: '/usr/local/www/fast-gooey'
                LOCAL_PATH: 'publish/*' # Optional.
                DELETE_FLAG: 'false'
