@model FastGooey.Models.ViewModels.AppleMobileIndexViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "iOS";
}

<partial name="~/Views/NavigationBar/MetalNavBar.cshtml" model="@Model.NavBarViewModel" />

<div class="flex-1 min-h-0 px-2 pb-2">
    <div class="relative w-full h-full shadow grid grid-cols-5 grid-rows-1 max-h-full">
        <div 
            hx-get="@Url.Action("MacInterfaceSelector", "AppleMobile", new { workspaceId = Model.Workspace.PublicId })"
            hx-trigger="load, refreshInterfaces from:body"
            id="interfacesPanel" 
            class="relative bg-indigo-100 border-r border-r-blue-400/50 col-span-1 rounded-l-lg overflow-y-auto overflow-x-clip min-h-0">
            Loading Interfaces...
        </div>
        <div id="workspace" class="bg-stone-200 col-span-4 rounded-r-lg min-h-0 overflow-hidden">
            <div class="flex justify-center items-center h-full w-full">
                Select an interface to get started.
            </div>
        </div>
    </div>
</div>
