<div id="editor" class="mx-auto max-w-3xl">
    <div class="formGroup mb-8">
        <div class="w-full border-b border-b-zinc-300 py-2 px-4">
            <p class="font-semibold">My Details</p>
        </div>
        <div class="py-2 px-4">
            <div class="mb-4">
                <label for="firstName">First Name</label>
                <input 
                    type="text" 
                    id="firstName" 
                    name="firstName" 
                    value="Ben"
                />
            </div>
            <div class="mb-4">
                <label for="lastName">Last Name</label>
                <input 
                    type="text" 
                    id="lastName" 
                    name="lastName" 
                    value="Szymanski"
                />
            </div>
            <div class="mb-4">
                <p class="block text-sm font-medium text-gray-700">Email Address</p>
                <p>user@fastgooey.com</p>
            </div>
        </div>
    </div>
    
    <div class="formGroup mb-8">
        <div class="w-full border-b border-b-zinc-300 py-2 px-4 mb-2">
            <p class="font-semibold">Authentication</p>
        </div>
        <div class="py-2 px-4">
            <div class="mb-4">
                <p class="block text-sm font-medium text-gray-700">Authentication Method</p>
                <p>Sign in with Apple</p>
            </div>
        </div>
    </div>
        
    <div class="formGroup mb-8">
        <div class="w-full border-b border-b-zinc-300 py-2 px-4 mb-2">
            <p class="font-semibold">Meta</p>
        </div>
        <div class="py-2 px-4">
            <div class="mb-4">
                <p class="block text-sm font-medium text-gray-700">Account Created</p>
                <p>October 16, 2025 01:05</p>
            </div>
        </div>
    </div>
</div>