<div id="editor" class="mx-auto max-w-3xl">
    <div class="formGroup mb-8">
        <div class="w-full border-b border-b-zinc-300 py-2 px-4">
            <p class="font-semibold">Workspace Details</p>
        </div>
        <div class="py-2 px-4">
            <div class="mb-4">
                <label for="organizationName">Organization Name</label>
                <input 
                    type="text" 
                    id="organizationName" 
                    name="organizationName" 
                    value="Tidelas"
                />
            </div>
            <div class="mb-4">
                <p class="block text-sm font-medium text-gray-700">Service Tier</p>
                <p>Pro</p>
            </div>
        </div>
    </div>
        
    <div class="formGroup mb-8">
        <div class="w-full border-b border-b-zinc-300 py-2 px-4 mb-2">
            <p class="font-semibold">Meta</p>
        </div>
        <div class="py-2 px-4">
            <div class="mb-4">
                <p class="block text-sm font-medium text-gray-700">Workspace Created</p>
                <p>October 16, 2025 01:05</p>
            </div>
        </div>
    </div>
</div>