@model FastGooey.Models.ViewModels.AppleMobileInterface.AppleMobileContentTypeSelectorPanelViewModel

<div class="bg-white flex w-full h-20 border-b border-b-zinc-300">
    <div class="flex-1 flex items-center">
        <p class="mx-6 font-bold">Select Content Type</p>
    </div>
</div>

<div id="interfaceOptions" class="py-4 px-4">
    <div
        hx-get="/Workspaces/@Model.WorkspaceId/Interfaces/AppleMobile/Content/@Model.InterfaceId?.ToBase64Url()/headline-config-panel"
        hx-target="#editorPanel"
        class="bg-white cursor-pointer rounded-xl shadow py-2 px-4 mb-4 border-3 border-white hover:underline hover:border-blueMid">
        <p class="font-medium mb-1">Headline</p>
        <p class="text-xs font-medium text-grayMid mb-1">
            Creates a headline with a single string of supersized, bolded text.
        </p>
    </div>
    <div
        hx-get="/Workspaces/@Model.WorkspaceId/Interfaces/AppleMobile/Content/@Model.InterfaceId?.ToBase64Url()/text-config-panel"
        hx-target="#editorPanel"
        class="bg-white cursor-pointer rounded-xl shadow py-2 px-4 mb-4 border-3 border-white hover:underline hover:border-blueMid">
        <p class="font-medium mb-1">Text</p>
        <p class="text-xs font-semibold text-grayMid mb-1">
            Creates a block of text.
        </p>
    </div>
    <div
        hx-get="/Workspaces/@Model.WorkspaceId/Interfaces/AppleMobile/Content/@Model.InterfaceId?.ToBase64Url()/link-config-panel"
        hx-target="#editorPanel"
        class="bg-white cursor-pointer rounded-xl shadow py-2 px-4 mb-4 border-3 border-white hover:underline hover:border-blueMid">
        <p class="font-medium mb-1">Link</p>
        <p class="text-xs font-semibold text-grayMid mb-1">
            Link to another resource. This can be a link to another Gooey interface, or to a webpage. Webpages will open in the system browser.
        </p>
    </div>
    <div
        hx-get="/Workspaces/@Model.WorkspaceId/Interfaces/AppleMobile/Content/@Model.InterfaceId?.ToBase64Url()/image-config-panel"
        hx-target="#editorPanel"
        class="bg-white cursor-pointer rounded-xl shadow py-2 px-4 mb-4 border-3 border-white hover:underline hover:border-blueMid">
        <p class="font-medium mb-1">Image</p>
        <p class="text-xs font-semibold text-grayMid mb-1">
            Insert an inline image.
        </p>
    </div>
    @* <div *@
    @*     hx-get="/Workspaces/@Model.WorkspaceId/Interfaces/AppleMobile/Content/@Model.InterfaceId?.ToBase64Url()/video-config-panel" *@
    @*     hx-target="#editorPanel" *@
    @*     class="bg-white cursor-pointer rounded-xl shadow py-2 px-4 mb-4 border-3 border-white hover:underline hover:border-blueMid"> *@
    @*     <p class="font-medium mb-1">Video</p> *@
    @*     <p class="text-xs font-semibold text-grayMid mb-1"> *@
    @*         Insert an inline video. *@
    @*     </p> *@
    @* </div> *@
</div>
    
<div class="absolute bottom-0 bg-white w-full h-16 border-t border-t-zinc-300 flex justify-between items-center px-6">
    <div class="flex items-center w-1/2"></div>
    <div class="flex items-center justify-end w-1/2 text-right">
        @await Html.PartialAsync("~/Views/Partials/CancelButton.cshtml")
    </div>
</div>
