@using FastGooey.Models.ViewModels
@model FastGooey.Models.ViewModels.AppleMobileInterface.AppleMobileInterfaceListEditorViewModel

<div class="bg-white flex w-full h-20 border-b border-b-zinc-300">
    <div class="flex-1 flex items-center">
        <p class="mx-6 font-bold">Edit List Item</p>
    </div>
</div>

<form method="post"
      hx-post="/Workspaces/@Model.WorkspaceId/Interfaces/AppleMobile/List/@Model.InterfaceId/item-editor-panel/item/@Model.Item.Identifier"
      hx-target="#editorPanel">
    @Html.AntiForgeryToken()
    <div class="py-4 px-4">
        <div class="formGroup formGroupAddBackground mb-8">
            <div class="w-full border-b border-b-zinc-300 py-2 px-4">
                <p class="font-semibold text-sm">Edit Content</p>
            </div>
            <div class="py-4 px-4">
                <div class="mb-3">
                    <label for="title">Title</label>
                    <div class="flex gap-2">
                        <input 
                            type="text" 
                            id="title" 
                            name="title" 
                            value="@Model.Item.Title"
                        />
                    </div>
                </div>
                <div class="mb-3">
                    <label for="subtitle">Subtitle</label>
                    <div class="flex gap-2">
                        <textarea name="subtitle" id="subtitle" cols="30" rows="10">@Model.Item.Subtitle</textarea>
                    </div>
                </div>
                <div>
                    <label for="url">Url</label>
                    <div class="flex gap-2">
                        <input 
                            type="url" 
                            id="url" 
                            name="url" 
                            value="@Model.Item.Url"
                            placeholder="https://..."
                        />
                    </div>
                </div>
            </div>
        </div>
    </div>
        
    <div class="absolute bottom-0 bg-white w-full h-16 border-t border-t-zinc-300 flex justify-between items-center px-6">
        <div class="flex items-center w-1/2">
            @if (!Model.Item.Identifier.Equals(Guid.Empty))
            {
                @await Html.PartialAsync("~/Views/Partials/DeleteButton.cshtml", new DeleteButtonViewModel
                {
                    Url = $"/Workspaces/{Model.WorkspaceId}/Interfaces/AppleMobile/List/{Model.InterfaceId}/item/{Model.Item.Identifier}"
                })
            }
        </div>
        <div class="flex items-center justify-end w-1/2 text-right gap-2">
            @await Html.PartialAsync("~/Views/Partials/CancelButton.cshtml")
            @await Html.PartialAsync("~/Views/Partials/SubmitButton.cshtml")
        </div>
    </div>
</form>