@model FastGooey.Models.ViewModels.Mac.MacContentHeadlineConfigurationPanelViewModel
@{
    var url = Model.Content.Identifier.Equals(Guid.Empty)
        ? Url.Action("SaveHeadline", "MacContent", new { workspaceId = Model.WorkspaceId, interfaceId = Model.InterfaceId?.ToBase64Url() })
        : Url.Action("SaveHeadline", "MacContent", new { workspaceId = Model.WorkspaceId, interfaceId = Model.InterfaceId?.ToBase64Url(), itemId = Model.Content.Identifier });
}

<div class="bg-white flex w-full h-20 border-b border-b-zinc-300">
    <div class="flex-1 flex items-center">
        <p class="mx-6 font-bold">Edit Headline</p>
    </div>
</div>

<form method="post"
      hx-post="@url"
      hx-target="#workspaceEditor">
    @Html.AntiForgeryToken()
    <div class="py-4 px-4">
        <div class="formGroup formGroupAddBackground mb-8">
            <div class="w-full border-b border-b-zinc-300 py-2 px-4">
                <p class="font-semibold text-sm">Edit Content</p>
            </div>
            <div class="py-4 px-4">
                <div>
                    <label for="headline">Headline</label>
                    <div class="flex gap-2">
                        <input 
                            type="text" 
                            id="headline" 
                            name="headline" 
                            value="@Model.Content.Headline"
                        />
                    </div>
                </div>
            </div>
        </div>
    </div>
        
    <div class="absolute bottom-0 bg-white w-full h-16 border-t border-t-zinc-300 flex justify-between items-center px-6">
        <div class="flex items-center w-1/2"></div>
        <div class="flex items-center justify-end w-1/2 text-right gap-2">
            @await Html.PartialAsync("~/Views/Partials/CancelButton.cshtml")
            @await Html.PartialAsync("~/Views/Partials/SubmitButton.cshtml")
        </div>
    </div>
</form>
