@model FastGooey.Models.ViewModels.Mac.MacContentLinkConfigurationPanelViewModel
@{
    var url = Model.Content.Identifier.Equals(Guid.Empty)
        ? Url.Action("SaveLink", "MacContent", new { workspaceId = Model.WorkspaceId, interfaceId = Model.InterfaceId?.ToBase64Url() })
        : Url.Action("SaveLink", "MacContent", new { workspaceId = Model.WorkspaceId, interfaceId = Model.InterfaceId?.ToBase64Url(), itemId = Model.Content.Identifier });
}

<div class="bg-white flex w-full h-20 border-b border-b-zinc-300">
    <div class="flex-1 flex items-center">
        <p class="mx-6 font-bold">Edit Link</p>
    </div>
</div>

<form method="post"
      hx-post="@url"
      hx-target="#workspaceEditor">
    @Html.AntiForgeryToken()
    <div class="py-4 px-4">
        <div class="formGroup formGroupAddBackground mb-8">
            <div class="w-full border-b border-b-zinc-300 py-2 px-4">
                <p class="font-semibold text-sm">Content</p>
            </div>
            <div class="py-4 px-4">
                <div class="mb-4">
                    <label for="title">Link Title</label>
                    <div class="flex gap-2">
                        <input 
                            type="text" 
                            id="title" 
                            name="title" 
                            value="@Model.Content.Title"
                        />
                    </div>
                </div>
                <div>
                    <label for="url">Link Url</label>
                    <div class="flex gap-2">
                        <input 
                            type="text" 
                            id="url" 
                            name="url" 
                            value="@Model.Content.Url"
                        />
                    </div>
                </div>
            </div>
        </div>
    </div>
        
    <div class="absolute bottom-0 bg-white w-full h-16 border-t border-t-zinc-300 flex justify-between items-center px-6">
        @await Html.PartialAsync("~/Views/Partials/CancelButton.cshtml")
        @await Html.PartialAsync("~/Views/Partials/SubmitButton.cshtml")
    </div>
</form>
