@import "tailwindcss";

@theme {
    --color-white: white;
    --color-black: black;
    --color-transparent: rgba(0, 0, 0, 0);
    --color-graySuperLight: #F8F9F9;
    --color-grayLight: #CFCFCF;
    --color-grayMid: #666666;
    --color-blueLight: #8ECAE6;
    --color-blueMid: #219EBC;
    --color-blueDark: #023047;
    --color-orangeLight: #FFB703;
    --color-orangeMid: #FB8500;
    --color-gradientTop: rgba(0, 0, 0, 0.0);
    --color-gradientBottom: rgba(0, 0, 0, 0.5);
    --color-bgScrub: rgba(0, 0, 0, 0.25);
    --color-formError: #fca5a5;
    --color-destructiveButton: #D92D20;
    --color-panelNegativeSpace: rgba(0, 0, 0, 0.6);
    --color-halfWhite: rgba(255, 255, 255, 0.5);

    --shadow-launchPoint: 0px 3px 11px -1px rgba(0, 0, 0, 0.10);
    --shadow-contributeCard: 0px 3px 11px -1px rgba(251, 133, 0, 0.15);
    --shadow-avatar: 0px 4px 6px -2px rgba(16, 24, 40, 0.03);
    --shadow-inventoryTable: 0px 2px 4px -2px rgba(16, 24, 40, 0.10);
    --shadow-panelShadow: 0px 8px 8px -4px rgba(16, 24, 40, 0.03);
    --shadow-shopLogoShadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08);
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
    height: 100vh;
    overflow: hidden;
}

.layout-grid {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100vh;
    width: 100%;
}

.sidebar {
    background-color: white;
    color: oklch(44.2% 0.017 285.786);
    padding: 2rem;
    overflow-y: auto;
    border-right: 1px solid oklch(87.1% 0.006 286.286);
}

.sidebar-content h2 {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    border-bottom: 2px solid #34495e;
    padding-bottom: 0.5rem;
}

.sidebar ul {
    list-style: none;
}


.sidebar ul li a {
    color: oklch(44.2% 0.017 285.786);
    text-decoration: none;
    display: block;
    padding: 0.5rem;
    border-radius: 4px;
    transition: background-color 0.2s;
}

.sidebar ul li a:hover {
    background-color: oklch(87.1% 0.006 286.286);
}

.main-content {
    overflow-y: auto;
    /*padding: 2rem;*/
    background-color: #f5f5f5;
}

.formGroup {
    @apply bg-white rounded shadow-md;
}

.formGroup label {
    @apply block text-sm font-medium text-gray-700 mb-2;
}

.formGroup input {
    @apply border border-zinc-300 rounded p-1 w-full;
}