@import "tailwindcss";

@theme {
    --color-white: white;
    --color-black: black;
    --color-transparent: rgba(0, 0, 0, 0);
    --color-graySuperLight: #F8F9F9;
    --color-grayLight: #CFCFCF;
    --color-grayMid: #666666;
    --color-blueLight: #8ECAE6;
    --color-blueMid: #219EBC;
    --color-blueDark: #023047;
    --color-orangeLight: #FFB703;
    --color-orangeMid: #FB8500;
    --color-gradientTop: rgba(0, 0, 0, 0.0);
    --color-gradientBottom: rgba(0, 0, 0, 0.5);
    --color-bgScrub: rgba(0, 0, 0, 0.25);
    --color-formError: #fca5a5;
    --color-destructiveButton: #D92D20;
    --color-panelNegativeSpace: rgba(0, 0, 0, 0.6);
    --color-halfWhite: rgba(255, 255, 255, 0.5);
    
    --shadow-panelShadow: 0px 8px 8px -4px rgba(16, 24, 40, 0.03);

    --animate-slideInEditorPanel: slideInEditorPanelFrames .5s ease-in-out forwards;
    --animate-slideOutEditorPanel: slideOutEditorPanelFrames .5s ease-in-out forwards;
}

@keyframes fadeInEditorPanelNegativeSpaceFrames {
    0% { visibility: hidden; background-color: rgba(0, 0, 0, 0.0); }
    100% { visibility: visible; background-color: rgba(0, 0, 0, 0.6); }
}

@keyframes fadeOutEditorPanelNegativeSpaceFrames {
    0% { visibility: visible; background-color: rgba(0, 0, 0, 0.6); }
    100% { visibility: hidden; background-color: rgba(0, 0, 0, 0.0); }
}

@keyframes slideInEditorPanelFrames {
    0% { right: -500px; }
    100% { right: 0; }
}

@keyframes slideOutEditorPanelFrames {
    0% { right: 0; }
    100% { right: -500px; }
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
    height: 100vh;
    overflow: hidden;
}

.layout-grid {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100vh;
    width: 100%;
}

.sidebar {
    background-color: white;
    color: oklch(44.2% 0.017 285.786);
    padding: 2rem;
    overflow-y: auto;
    border-right: 1px solid oklch(87.1% 0.006 286.286);
}

.sidebar-content h2 {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    border-bottom: 2px solid #34495e;
    padding-bottom: 0.5rem;
}

.sidebar ul {
    list-style: none;
}


.sidebar ul li a,
.sidebar ul li button {
    color: oklch(44.2% 0.017 285.786);
    text-decoration: none;
    display: block;
    padding: 0.5rem;
    border-radius: 4px;
    transition: background-color 0.2s;
}

.sidebar ul li a:hover,
.sidebar ul li button:hover {
    background-color: oklch(87.1% 0.006 286.286);
}

.sectionButton {
    @apply text-center flex flex-col items-center gap-2 align-middle justify-center border-l border-l-zinc-300 w-26 cursor-pointer;
}

.activeSectionButton {
    @apply bg-blueMid text-white font-semibold;
}

.main-content {
    @apply bg-zinc-100 overflow-y-auto;
}

.formGroup {
    @apply bg-white rounded shadow-md;
}

.formGroup label {
    @apply block text-sm font-medium text-gray-700 mb-2;
}

.formGroup input[type='text'],
.formGroup input[type='tel'],
.formGroup input[type='url'],
.formGroup input[type='email'],
.formGroup input[type='number'],
.formGroup input[type='date'],
.formGroup input[type='time'],
.formGroup input[type='datetime-local'],
.formGroup input[type='password'],
.formGroup textarea {
    @apply border border-zinc-300 rounded py-1 px-2 w-full text-sm bg-white;
}

.formGroup select {
    @apply border border-zinc-300 rounded py-1 px-2 w-full text-sm bg-white;
}

.contentGroup {
    @apply bg-white rounded shadow-md text-sm;
}

.contentGroup input[type='text'],
.contentGroup input[type='tel'],
.contentGroup input[type='url'],
.contentGroup input[type='email'],
.contentGroup textarea {
    @apply border border-zinc-300 rounded py-1 px-2;
}