<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>FastGooey: Email Verification</title>
</head>
<body>
    <h1>FastGooey Email Verification</h1>
    
    <p>
        Hi {{name}},
    </p>
    
    <p>
        First, welcome to FastGooey!
    </p>
    
    <p>
        As a new user, your account has been granted access to the Explorer service tier – allowing you to create a 
        content node, yours to keep forever, without any further limitations! To create a workspace, you'll need to 
        verify your email address.
    </p>
    
    <p>Please use the link below to verify your email address.</p>
        <a href="{{confirmationLink}}">{{confirmationLink}}</a>
    </body>
</html>
