<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>FastGooey: Welcome</title>
</head>
<body>
    <h1>Welcome to FastGooey</h1>

    <p>
        Hi {{name}},
    </p>

    <p>
        Thanks for purchasing FastGooey! We have created your account so you can get started right away.
    </p>

    <p>
        Your temporary password is: <strong>{{temporaryPassword}}</strong>
    </p>

    <p>
        Please sign in with this password and update it from your account settings.
    </p>
</body>
</html>
