<div id="editor" class="mx-auto max-w-3xl">
    <div class="formGroup mb-8">
        <div class="w-full border-b border-b-zinc-300 py-2 px-4">
            <p class="font-semibold">Page Content</p>
        </div>
        <div class="py-4 px-4">
            <button 
                type="button"
                onclick="toggleEditor()"
                hx-get="/Interfaces/MacOS/ContentTypeSelectorPanel"
                hx-target="#editorPanel"
                class="w-full rounded bg-zinc-100 text-zinc-700 font-semibold px-6 py-3 cursor-pointer">
                Add Content
            </button>
        </div>
    </div>
</div>

<div class="fixed bottom-0 bg-white h-16 border-t border-t-zinc-300 flex justify-between items-center px-6 left-[20%] right-0">
    <div class="flex items-center w-1/2">
        <p class="text-sm">Interfaces :: MacOS :: Content View</p>
    </div>
    <div class="flex items-center justify-end w-1/2 text-right">
        @* <button class="bg-emerald-700 text-white font-semibold rounded px-4 py-2 cursor-pointer text-sm">Save</button> *@
    </div>
</div>