@model FastGooey.Models.ViewModels.MacInterfaceSelectorViewModel

<div class="absolute top-0 w-full my-2 text-blue-900">
    <span class="mx-3 uppercase text-sm font-semibold tracking-tight">Interfaces</span>
</div>

<div class="absolute top-10 bottom-8 overflow-y-scroll w-full">
    <ul id="interfaceList" class="flex flex-col">
        @foreach (var workspaceInterface in Model.InterfaceItems)
        {
            <li hx-get="@workspaceInterface.Route" 
                hx-boost="true" 
                hx-target="#workspace" 
                hx-push-url="false" 
                data-interface-id="@workspaceInterface.Id"
                class="py-2 text-blueDark font-medium overflow-ellipsis cursor-pointer" 
                onclick="changeInterfaceListSelection(this)">
                <p class="mx-4 inline-block">
                    @workspaceInterface.Name
                </p>
            </li>
        }
    </ul>
</div>

<div class="absolute bottom-0 w-full flex items-center
          border-t border-t-blue-400/50 
          before:absolute before:inset-0
          bg-gradient-to-b from-indigo-200 to-indigo-100
          before:shadow-[inset_0_1px_1px_rgba(255,255,255,0.5)]
          before:pointer-events-none before:z-[1]
          after:absolute after:inset-x-0 after:top-0 after:h-1/2 
          after:bg-gradient-to-b after:from-white/25 after:to-white/35
          after:pointer-events-none after:z-[3]">
    <button 
        type="button"
        hx-get="/Workspaces/@Model.WorkspaceId/Interfaces/MacOS/mac-interface-selector-panel"
        hx-target="#editorPanel"
        class="w-8 h-8 cursor-pointer text-center border-r border-r-blue-400/50" 
        onclick="toggleEditor()"
    >
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 mx-auto">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
        </svg>
    </button>
    <button
        type="button"
        class="w-8 h-8 cursor-pointer text-center border-r border-r-blue-400/50"
        onclick="deleteSelectedInterface('/Workspaces/@Model.WorkspaceId/Interfaces/MacOS/interface')"
    >
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 mx-auto">
            <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
        </svg>
    </button>
</div>
