<div class="border-b border-b-zinc-300 py-2 flex items-center align-middle gap-4">
    <label for="header4">Column 4</label>
    <select id="header4" class="rounded border border-zinc-300 w-72 py-1">
        <option>Select</option>
        <option>Name</option>
        <option>City</option>
        <option>State</option>
        <option>Sport Type</option>
    </select>
</div>