@model FastGooey.Models.ViewModels.Map.MapWorkspaceViewModel

<script id="map-data-points" type="application/json">
@Html.Raw(System.Text.Json.JsonSerializer.Serialize(Model.Entries.Select(e => new 
{
    e.Latitude,
    e.Longitude,
    Title = e.LocationName
})))
</script>

<form method="post"
      hx-post="/Workspaces/@Model.WorkspaceId()/Widgets/Map/Workspace/@Model.InterfaceId()"
      hx-target="#workspaceEditor">
    <div id="editor" class="mx-auto max-w-3xl mt-8">
        <div class="flex justify-center mb-8">
            <div id="mapKit" class="mx-auto relative block" style="width: 800px; height: 500px;"></div>
        </div>
        
        <div class="contentGroup formGroupAddBackground mb-8">
            <div class="w-full border-b border-b-zinc-300 py-2 px-4">
                <p class="font-semibold">Search Locations</p>
            </div>
            <div class="py-2 px-4 mb-2">
                <div class="mb-1">
                    <label for="locationSearch">Add pin</label>
                </div>
                
                <div class="flex gap-2 mb-2 w-full">
                    <input
                        type="text"
                        id="locationSearch"
                        name="locationSearch"
                        class="flex-1"
                        value=""
                        placeholder="Search for a location"
                        onkeyup="if(event.key === 'Enter') document.getElementById('searchBtn').click()"/>
                    <button
                        id="searchBtn"
                        type="button"
                        onclick="toggleEditor()"
                        hx-get="/Workspaces/@Model.WorkspaceId()/Widgets/Map/search-panel"
                        hx-include="#locationSearch"
                        hx-target="#editorPanel"
                        class="px-2 py-1 rounded cursor-pointer bg-blueMid text-white font-semibold">
                        Search...
                    </button>
                </div>
            </div>
        </div>
        
        <div class="formGroup formGroupAddBackground mb-8">
            <div class="w-full border-b border-b-zinc-300 py-2 px-4">
                <p class="font-semibold text-sm">Pins</p>
            </div>
            <div id="collection">
                @foreach (var item in Model.Entries)
                {
                    @await Html.PartialAsync("Partials/CityEntry", item)
                }
            </div>
            <div class="pb-4 mx-4">
                @await Html.PartialAsync("~/Views/Partials/SubmitButton.cshtml")
            </div>
        </div>
    </div>
</form>