@model FastGooey.Models.ViewModels.Mac.MacInterfaceSourceListGroupEditorPanelViewModel

<div class="bg-white flex w-full h-20 border-b border-b-zinc-300">
    <div class="flex-1 flex items-center">
        <p class="mx-6 font-bold">Edit Source List Group</p>
    </div>
</div>

<form method="post"
      hx-post="/Workspaces/@Model.WorkspaceId/interfaces/mac/source-list/@Model.InterfaceId/group-editor-panel/@Model.GroupId"
      hx-target="#editorPanel"
      >
    <div class="py-4 px-4">
        <div class="formGroup mb-4">
            <div class="w-full border-b border-b-zinc-300 py-2 px-4">
                <p class="font-semibold text-sm">Configuration</p>
            </div>
            <div class="py-2 px-4">
                <div class="mb-4">
                    <label asp-for="GroupName">Group Name</label>
                    <input asp-for="GroupName" />
                </div>
            </div>
        </div>
    </div>
    
    <div class="absolute bottom-0 bg-white w-full h-16 border-t border-t-zinc-300 flex justify-between items-center px-6">
        <div class="flex gap-2 items-center w-1/2">
            @if (!Model.GroupId.Equals(Guid.Empty))
            {
                <button
                    hx-delete="/Workspaces/@Model.WorkspaceId/interfaces/mac/source-list/@Model.InterfaceId/group-editor-panel/group/@Model.GroupId"
                    hx-target="#workspaceEditor"
                    hx-params="none"
                    type="button"
                    class="bg-rose-700 text-white font-semibold rounded px-4 py-2 cursor-pointer text-sm">
                    Delete
                </button>   
            }
        </div>
        <div class="flex gap-2 items-center justify-end w-1/2 text-right">
            @await Html.PartialAsync("~/Views/Partials/CancelButton.cshtml")
            @await Html.PartialAsync("~/Views/Partials/SubmitButton.cshtml")
        </div>
    </div>
</form>