<div class="h-full flex flex-col">
    <div class="bg-white flex h-20 border-b border-b-zinc-300 rounded-tr-l flex-shrink-0">
        <div class="flex-1 flex items-center justify-between">
            <p class="p-2 mx-6 w-full font-bold">Manage Users</p>
        </div>
    </div>

    <div id="workspaceEditor" class="flex-1 min-h-0 overflow-y-auto overflow-x-hidden">
        <div class="mx-auto max-w-3xl mt-8">
            <div class="formGroup formGroupAddBackground mb-8">
                <div class="w-full border-b border-b-zinc-300 py-2 px-4">
                    <p class="font-semibold">Access denied</p>
                </div>
                <div class="py-4 px-4">
                    <p class="text-sm">You do not have permission to manage users for this workspace.</p>
                </div>
            </div>
        </div>
    </div>
</div>