@{
  var antiForgeryToken = Html.AntiForgeryTokenValue().ToString();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - FastGooey</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/css/site.dist.css" asp-append-version="true"/>
    @* <link rel="stylesheet" href="~/FastGooey.styles.css" asp-append-version="true"/> *@
    @* <link rel="stylesheet" href="~/semantic/dist/semantic.min.css" /> *@
    <script src="https://unpkg.com/@@simplewebauthn/browser@13.2.2/dist/bundle/index.umd.min.js" integrity="sha384-yAwqL7rTyGVMT9a0Dcn7eXxCO+R5i9tIaSscz0HJYqv2/+HktDkQkJHF56oDHbxc" crossorigin="anonymous"></script>
    <script src="https://cdn.apple-mapkit.com/mk/5.x.x/mapkit.core.js"
            crossorigin async
            data-callback="initMapKit"
            data-libraries="services,full-map,geojson"
            data-token="@ViewBag.MapKitToken"></script>
</head>
<body class="bg-blueDark h-full" hx-headers='{"RequestVerificationToken": "@antiForgeryToken"}' hx-on:toggle-editor="toggleEditor()">
<div class="h-full flex flex-col">
    @RenderBody()
</div>

<partial name="~/Views/Partials/EditorPanel.cshtml" />
<partial name="~/Views/Partials/mediaFloatingPalette.cshtml" />
<partial name="~/Views/Partials/linkEditorFloatingPalette.cshtml" />
<partial name="~/Views/Partials/iconPalette.cshtml" />
<partial name="~/Views/Partials/createInterfaceFloatingPalette.cshtml" />

<script src="~/lib/htmx/htmx_207.min.js"></script>
<script src="~/js/cupertino-mapkit.js"></script>
<script src="~/js/link-editor-floating-palette.js" asp-append-version="true"></script>
<script src="~/js/media-floating-palette.js" asp-append-version="true"></script>
<script src="~/js/icon-picker-floating-palette.js" asp-append-version="true"></script>
<script src="~/js/create-interface-floating-palette.js" asp-append-version="true"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@* <script src="~/lib/jquery/dist/jquery.min.js"></script> *@

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
