@using FastGooey.Utils
@{
  var antiForgeryToken = Html.AntiForgeryTokenValue().ToString();
  var workspaceId = ViewData["WorkspaceId"];
  var hasWorkspace = workspaceId != null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - FastGooey</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/css/site.dist.css" asp-append-version="true"/>
    @* <link rel="stylesheet" href="~/FastGooey.styles.css" asp-append-version="true"/> *@
    @* <link rel="stylesheet" href="~/semantic/dist/semantic.min.css" /> *@
    <script src="https://cdn.apple-mapkit.com/mk/5.x.x/mapkit.core.js"
            crossorigin async
            data-callback="initMapKit"
            data-libraries="services,full-map,geojson"
            data-token="@ViewBag.MapKitToken"></script>
</head>
<body hx-headers='{"RequestVerificationToken": "@antiForgeryToken"}'>
  <div class="absolute layout-grid text-sm">
    <nav class="sidebar">
      <div class="sidebar-content">
        <h2>FastGooey</h2>
        @if (hasWorkspace)
        {
          <div 
            hx-get="/Workspaces/@workspaceId/NavigationBar" 
            hx-trigger="load, refreshNavigation from:body"
            hx-swap="innerHTML">
            <div class="p-4 text-gray-500">
              <p>Loading...</p>
            </div>
          </div>
        }
        else
        {
          <div class="p-4 text-gray-500">
            <p>No workspace selected</p>
          </div>
        }
      </div>
    </nav>
      
    <main id="workspace" class="main-content relative" role="main">
      @RenderBody()
    </main>
  </div>

  @await Html.PartialAsync("~/Views/Partials/EditorPanel.cshtml")

  <script src="~/lib/htmx/htmx_207.min.js"></script>
  <script src="~/js/cupertino-mapkit.js"></script>
  <script src="~/js/site.js" asp-append-version="true"></script>
  @* <script src="~/lib/jquery/dist/jquery.min.js"></script> *@
  @* <script src="~/lib/alpine/alpine_3_15_0.min.js"></script> *@
  @* <script src="~/lib/vue/vue_3_5_22.js"></script> *@
  @* <script src="~/semantic/dist/semantic.min.js"></script> *@

  @await RenderSectionAsync("Scripts", required: false)
</body>
</html>