@using FastGooey.Utils

@{
    var antiForgeryToken = Html.AntiForgeryTokenValue().ToString();
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>@ViewData["Title"] - FastGooey</title>
        <script type="importmap"></script>
        <link rel="stylesheet" href="~/css/site.dist.css" asp-append-version="true"/>
        @* <link rel="stylesheet" href="~/FastGooey.styles.css" asp-append-version="true"/> *@
        <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <script src="https://unpkg.com/@@simplewebauthn/browser@13.2.2/dist/bundle/index.umd.min.js" integrity="sha384-yAwqL7rTyGVMT9a0Dcn7eXxCO+R5i9tIaSscz0HJYqv2/+HktDkQkJHF56oDHbxc" crossorigin="anonymous"></script>
        <script src="https://analytics.ahrefs.com/analytics.js" data-key="kkTlN27YwECSNjTBxgXUKQ" async></script>
    </head>
    <body hx-headers='{"RequestVerificationToken": "@antiForgeryToken"}'>
        <div>@RenderBody()</div>

        <script src="~/lib/htmx/htmx_207.min.js"></script>

        @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>