@using FastGooey.Models.ViewModels
@model FastGooey.Models.ViewModels.AppleMobileInterface.AppleMobileInterfaceListViewModel

<div class="h-full flex flex-col">
    <div class="bg-white flex h-20 border-b border-b-zinc-300 rounded-tr-l flex-shrink-0">
        <div class="flex-1 flex items-center">
            @await Html.PartialAsync("~/Views/Partials/WorkspaceTitleEditor.cshtml", new WorkspaceTitleEditorViewModel
            {
                Url = Url.Action(
                    "UpdateTitle",
                    "Workspaces",
                    new { workspaceId = Model.WorkspaceId(), interfaceId = Model.InterfaceId() }
                ),
                Title = Model.WorkspaceViewModel!.ContentNode!.Name
            })
        </div>
        <button 
            hx-get="@Url.Action("ListWorkspace", "AppleMobileList", new { workspaceId = Model.WorkspaceId(), interfaceId = Model.InterfaceId() })"
            hx-target="#workspaceEditor"
            type="button" 
            class="sectionButton activeSectionButton"
            onclick="changeSection(this)">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 6.75h12M8.25 12h12m-12 5.25h12M3.75 6.75h.007v.008H3.75V6.75Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0ZM3.75 12h.007v.008H3.75V12Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm-.375 5.25h.007v.008H3.75v-.008Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z" />
            </svg>
            List
        </button>
        @* <button type="button" class="sectionButton" onclick="changeSection(this)"> *@
        @*     <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6"> *@
        @*         <path stroke-linecap="round" stroke-linejoin="round" d="M6.429 9.75 2.25 12l4.179 2.25m0-4.5 5.571 3 5.571-3m-11.142 0L2.25 7.5 12 2.25l9.75 5.25-4.179 2.25m0 0L21.75 12l-4.179 2.25m0 0 4.179 2.25L12 21.75 2.25 16.5l4.179-2.25m11.142 0-5.571 3-5.571-3" /> *@
        @*     </svg> *@
        @*     Structure *@
        @* </button> *@
        @await Html.PartialAsync(
            "~/Views/Partials/WorkspaceInfoButton.cshtml", 
            Url.Action("Info", "Workspaces", new { workspaceId = Model.WorkspaceId(), interfaceId = Model.InterfaceId() })
        )
    </div>

    <div 
        id="workspaceEditor" 
        class="flex-1 min-h-0 overflow-y-auto overflow-x-hidden" 
        hx-get="@Url.Action("ListWorkspace", "AppleMobileList", new { workspaceId = Model.WorkspaceId(), interfaceId = Model.InterfaceId() })" 
        hx-trigger="refreshWorkspace from:body">
        @await Html.PartialAsync("Workspace.cshtml", Model.WorkspaceViewModel)
    </div>
</div>
