@model FastGooey.Models.ViewModels.AppleMobileInterface.AppleMobileInterfaceListWorkspaceViewModel

<div id="list" class="mx-6 xl:mx-auto max-w-5xl">
    <div class="contentGroup mb-8">
        <div class="flex gap-2 border-b border-b-zinc-300 py-2 px-4">
            <p class="font-semibold flex-1">Title</p>
            <p class="font-semibold w-90">Url</p>
        </div>
        @foreach (var item in Model.Data.Items)
        {
            <div class="flex gap-2 border-b border-b-zinc-300 py-2 px-4">
                <div class="flex-1">
                    <button
                        type="button"
                        hx-get="/Workspaces/@Model.WorkspaceId()/Interfaces/AppleMobile/List/@Model.InterfaceId()/item-editor-panel/item/@item.Identifier"
                        hx-target="#editorPanel"
                        onclick="toggleEditor()"
                        class="hover:bg-zinc-200 text-zinc-700 font-semibold rounded px-4 py-2 cursor-pointer text-sm">
                        @item.Title
                    </button>
                </div>
                <input type="url" value="@item.Url" disabled="disabled" class="w-90"/>
            </div>
        }
    </div>
</div>

<div class="fixed bottom-0 bg-white h-16 border-t border-t-zinc-300 flex justify-between items-center px-6 left-[20%] right-0">
    <div class="flex items-center w-1/2">
        <p class="text-sm">Interfaces :: iOS :: List View</p>
    </div>
    <div class="flex items-center justify-end w-1/2 text-right">
        <button
            hx-get="/Workspaces/@Model.WorkspaceId()/Interfaces/AppleMobile/List/@Model.InterfaceId()/item-editor-panel/item "
            hx-target="#editorPanel"
            type="button"
            onclick="toggleEditor()" class="bg-blueMid text-white font-semibold rounded px-4 py-2 cursor-pointer text-sm">
            Add New Item...
        </button>
    </div>
</div>