@model FastGooey.Models.ViewModels.ManageWorkspaceViewModel

<form method="post"
    hx-post="/Workspaces/@Model.Workspace.PublicId/WorkspaceManagement/workspace/save"
    hx-target="#workspaceEditor">
    @Html.AntiForgeryToken()
    <div id="editor" class="mx-auto max-w-3xl">
        <div class="formGroup formGroupAddBackground mb-8">
            <div class="w-full border-b border-b-zinc-300 py-2 px-4">
                <p class="font-semibold">Workspace Details</p>
            </div>
            <div class="py-2 px-4">
                <div class="mb-4">
                    <label asp-for="FormModel.WorkspaceName"></label>
                    <input asp-for="FormModel.WorkspaceName"
                           type="text"
                           class="w-full"/>
                    <span asp-validation-for="FormModel.WorkspaceName" class="text-red-600 text-sm mt-1 block"></span>
                </div>
                <div class="mb-4">
                    <p class="block text-sm font-medium text-gray-700">Service Tier</p>
                    <p>Pro</p>
                </div>
            </div>
        </div>

        <div class="formGroup formGroupAddBackground mb-8">
            <div class="w-full border-b border-b-zinc-300 py-2 px-4 mb-2">
                <p class="font-semibold">Meta</p>
            </div>
            <div class="py-2 px-4">
                <div class="mb-4">
                    <p class="block text-sm font-medium text-gray-700">Workspace Created</p>
                    <p>@Model.Workspace.CreatedAt.InUtc().ToString("MMMM d, yyyy hh:mm tt", System.Globalization.CultureInfo.InvariantCulture)</p>
                </div>
            </div>
        </div>
    </div>

    <div class="fixed bottom-0 bg-white h-16 border-t border-t-zinc-300 flex justify-between items-center px-6 left-[20%] right-0">
        <div class="flex items-center w-1/2"></div>
        <div class="flex items-center justify-end w-1/2 text-right">
            @await Html.PartialAsync("~/Views/Partials/SubmitButton.cshtml")
        </div>
    </div>
</form>