@model FastGooey.Models.ViewModels.RssFeed.RssWorkspaceViewModel

<div id="editor" class="mx-auto max-w-3xl">
    <div class="formGroup mb-8">
        <div class="w-full border-b border-b-zinc-300 py-2 px-4">
            <p class="font-semibold">Configuration</p>
        </div>
        <div class="pt-2 pb-4 px-4">
            <div>
                <label for="feedUrl">Feed Url</label>
                <div class="flex gap-2">
                    <input 
                        type="url" 
                        id="feedUrl" 
                        name="feedUrl" 
                        placeholder="https://www..."
                        value="https://daringfireball.net/feeds/main"
                        onkeyup="if(event.key === 'Enter') document.getElementById('previewButton').click()"
                    />
                    <button
                        id="previewButton"
                        type="button"
                        hx-get="/Widgets/RssPreviewPanel"
                        hx-include="#feedUrl"
                        hx-target="#previewPanel"
                        class="px-2 py-1 rounded cursor-pointer bg-blueMid text-white font-semibold">Preview...</button>
                </div>
            </div>
        </div>
    </div>
    
    @* @await Html.PartialAsync("~/Views/RssFeed/Partials/PreviewPanel.cshtml", Model.PreviewPanelViewModel) *@
</div>

<div class="fixed bottom-0 bg-white h-16 border-t border-t-zinc-300 flex justify-between items-center px-6 left-[20%] right-0">
    <div class="flex items-center w-1/2">
        <p class="text-sm">Widgets :: RSS Feed</p>
    </div>
    <div class="flex items-center justify-end w-1/2 text-right">
        <button
            type="submit"
            class="bg-emerald-700 text-white font-semibold rounded px-4 py-2 cursor-pointer text-sm">
            Save
        </button>
    </div>
</div>