
<div id="createInterfaceFloatingPalette" class="fixed top-0 bottom-0 right-0 left-0 h-full w-full bg-panelNegativeSpace transition z-60 flex justify-center items-center hidden" aria-hidden="true">
</div>
