@{
    var listUrl = string.Empty;
    if (ViewData["WorkspaceId"] is Guid workspaceId)
    {
        // listUrl = Url.Action("ContentList", "LinkEditor", new { workspaceId }) ?? string.Empty;
    }
}

<div id="createInterfaceFloatingPalette" class="fixed top-0 bottom-0 right-0 left-0 h-full w-full bg-panelNegativeSpace transition z-60 flex justify-center items-center hidden" aria-hidden="true">
    <div class="w-2xl h-2xl mx-auto rounded-lg bg-white">
        <div class="flex justify-baseline items-center p-2">
            <h2 class="flex-1 font-semibold text-lg">Create Interface</h2>
            <button type="button" class="cursor-pointer" onclick="toggleInterfaceCreatePalette()">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6 text-rose-500">
                    <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25Zm-1.72 6.97a.75.75 0 1 0-1.06 1.06L10.94 12l-1.72 1.72a.75.75 0 1 0 1.06 1.06L12 13.06l1.72 1.72a.75.75 0 1 0 1.06-1.06L13.06 12l1.72-1.72a.75.75 0 1 0-1.06-1.06L12 10.94l-1.72-1.72Z" clip-rule="evenodd" />
                </svg>
            </button>
        </div>
        
        @if (string.IsNullOrEmpty(listUrl))
        {
            <div id="interfaceSelectorOptions" class="mx-2 mb-2 border border-zinc-200 rounded-lg h-[400px] overflow-y-auto text-sm">
                <p class="p-4 text-center text-zinc-500">Open a workspace to see interface components.</p>
            </div>
        }
        else
        {
            <div id="interfaceSelectorOptions"
                 class="mx-2 mb-2 border border-zinc-200 rounded-lg h-[400px] overflow-y-auto text-sm relative">
                <p class="p-4 text-center text-zinc-500">Loading content...</p>
            </div>
        }
        
        <div class="p-2 flex gap-2 justify-end">
            <button type="button" class="bg-zinc-300 text-zinc-700 font-semibold rounded px-2 py-1 cursor-pointer text-sm" onclick="toggleInterfaceCreatePalette()">Cancel</button>
            <button type="button" class="bg-green-600 text-white font-semibold rounded px-2 py-1 cursor-pointer text-sm" onclick="toggleInterfaceCreatePalette()">Create</button>
        </div>
    </div>
</div>
