<div id="editorPanelNegativeSpace"
     class="fixed top-0 left-0 right-0 bottom-0 bg-panelNegativeSpace transition z-50"
     onclick="toggleEditor()"
     style="visibility: hidden;"
>
</div>

<div id="editorPanel"
     class="w-[500px] fixed top-0 bottom-0 bg-zinc-200 shadow-panelShadow z-50"
     style="right: -500px;"
>
</div>