@model FastGooey.Models.ViewModels.ManageAccountViewModel

<partial name="~/Views/NavigationBar/MetalNavBar.cshtml" model="@Model.NavBarViewModel" />

<div class="flex-1 min-h-0 px-2 pb-2">
    <div class="relative w-full h-full shadow grid grid-cols-5 grid-rows-1 max-h-full">
        <div 
            id="interfacesPanel" 
            class="relative bg-indigo-100 border-r border-r-blue-400/50 col-span-1 rounded-l-lg overflow-y-auto overflow-x-clip min-h-0">
        </div>
        <div id="workspace" class="bg-stone-200 col-span-4 rounded-r-lg min-h-0 overflow-hidden">
            <div class="h-full flex flex-col">
                <div class="bg-white flex h-20 border-b border-b-zinc-300 rounded-tr-l flex-shrink-0">
                    <div class="flex-1 flex items-center">
                        <p class="p-2 mx-6 w-full font-bold">Account Management</p>
                    </div>
                </div>

                <div id="workspaceEditor" 
                     class="flex-1 min-h-0 overflow-y-auto overflow-x-hidden"> 
                    @await Html.PartialAsync("Workspaces/AccountManagement.cshtml", Model)
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/passkeys.js"></script>
}
