@model FastGooey.Models.ViewModels.ClockViewModel

<div class="fixed z-40 bg-white flex h-20 border-b border-b-zinc-300 left-[20%] right-0">
    <div class="flex-1 flex items-center">
        <p class="p-2 mx-6 w-full font-bold">Account Management</p>
    </div>
</div>

<div id="workspaceEditor" class="mt-30 mb-24">
    @await Html.PartialAsync("Workspaces/AccountManagement.cshtml")
</div>

<div class="fixed bottom-0 bg-white h-16 border-t border-t-zinc-300 flex justify-between items-center px-6 left-[20%] right-0">
    <div class="flex items-center w-1/2"></div>
    <div class="flex items-center justify-end w-1/2 text-right">
        <button class="bg-emerald-700 text-white font-semibold rounded px-4 py-2 cursor-pointer text-sm">Save</button>
    </div>
</div>
