<div class="py-6 px-6">
    <p class="font-medium mb-2">You've reached the Explorer plan limit.</p>
    <p class="text-xs font-medium text-grayMid mb-6">
        Upgrade to the Standard plan to add more content nodes.
    </p>
    <a href="https://buy.stripe.com/bJebJ3dqFfOtbgz47q2Ry02"
       class="bg-blueMid text-white font-semibold rounded px-4 py-2 cursor-pointer text-sm">
        Upgrade to Standard
    </a>
</div>
