@model FastGooey.Models.ViewModels.Mac.MacOutlineWorkspaceViewModel
@{
    ViewBag.WorkspaceId = Model.WorkspaceId();
    ViewBag.InterfaceId = Model.InterfaceId();
    var url = $"/Workspaces/{ViewBag.WorkspaceId}/interfaces/mac/outline/{ViewBag.InterfaceId}/editor-panel/{Model.Data.Identifier}/new";
}

<div id="editor" class="mx-auto max-w-3xl">
    <div class="contentGroup">
        <div class="w-full border-b border-b-zinc-300 py-2 px-4">
            <p class="font-semibold">Outline Items</p>
        </div>
        @if (Model.Data.Children.Any())
        {
            <div class="px-4 py-4">
                <ul role="tree">
                    @foreach (var rootItem in Model.Data.Children)
                    {
                        <partial name="Partials/MacOutlineTreeNode" model="rootItem" />
                    }
                </ul>
            </div>
        }
        <div class="px-4 py-4">
            <button type="button" 
                    class="bg-blueMid text-white font-semibold rounded px-4 py-2 cursor-pointer text-sm" 
                    onclick="toggleEditor()" 
                    hx-get="@url" 
                    hx-target="#editorPanel">
                Add Root Item...
            </button>
        </div>
    </div>
</div>

<div class="fixed bottom-0 bg-white h-16 border-t border-t-zinc-300 flex justify-between items-center px-6 left-[20%] right-0">
    <div class="flex items-center w-1/2">
        <p class="text-sm">Interfaces :: Mac OS :: Outline View</p>
    </div>
    <div class="flex items-center justify-end w-1/2 text-right"></div>
</div>
